body {
  font-family: sans-serif;
}

article {
  border: 5px solid black;
}

h2,
h3 {
  text-transform: uppercase;
}

h2 {
  background-color: #e7e7e7;
  text-align: center;
}

p strong {
  font-size: 20px;
}

#highlight {
  color: rgb(138, 138, 134);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

a:link {
  color: black;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: square;
}

button {
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  text-transform: uppercase;
}
